{% extends "base.html" %}
{% load static %}

{% block main %}
    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="#">Home</a>
                    <span class="breadcrumb-item active">Sign up</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->


    <!-- Contact Start -->
    <div class="container-fluid">
        <h2 class="section-title position-relative text-uppercase text-center mx-xl-5 mb-4"><span class="bg-secondary pr-3">User Sign up / Login</span></h2>
        <div class=" px-xl-5">
            <div class=" mb-5 contact-us" style="">
                <div class="contact-form bg-light p-30">
                    <div id="success"></div>
                    <form method="post">
                        {% csrf_token %}
                        <div class="control-group">
                            {% for error in form.non_field_errors %}
                                 <P class="alert alert-danger">{{ error }}</P>
                            {% endfor %}
                            {{ form.phone }}
                            {% for error in form.phone.errors %}
                                <P class="alert alert-danger">{{ error }}</P>
                            {% endfor %}
                            <p class="help-block text-danger"></p>
                        </div>



                        <div>
                            <button class="btn btn-primary py-2 px-4" type="submit" id="sendMessageButton">Send Code</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
    <!-- Contact End -->
{% endblock %}

